# Ignorar el directorio de entorno virtual
.venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de configuración de sistema
*.DS_Store
*.env
*.log

# Ignorar archivos temporales
*.tmp
*.bak
*.swp

# Ignorar archivos específicos de sistemas operativos
*.pid
*.seed
*.sqlite3
*.db

# Ignorar archivos de distribución y compilación
dist/
build/
*.egg-info/
*.egg
